html {
  background-color: #F0EAD6; 
}

body{ 
    opacity:0;
    transition: opacity 3s;
    -webkit-transition: opacity 3s; /* Safari */
}

h1 {
	padding-top: 1.5em;
}

.hide {
	display:none;
}

.show {
	display:block;
}

.header {
	padding-top: 1em;
}